/* reset.css derived from https://www.joshwcomeau.com/css/custom-css-reset/ */
/* on using layers in reset https://www.mayank.co/blog/css-reset-layer */
@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	* {
		margin: 0;
	}
	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-webkit-text-size-adjust: 100%;
	}
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}
	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}
}

html {
	font: 120%;
}

html,
body {
	height: 100%;

	height: 100%;
}
body {
	font-family: var(--font-body);
	background-color: var(--color-background);
	width: 100%;
	padding: 0;

	margin: 0;
	font-weight: normal;
	line-height: 1.5;
}

main {
	max-width: 66ch;
	margin: 0 auto;
	padding-top: var(--s4);
	padding-left: var(--s2);
	padding-right: var(--s2);
}
pre {
	font-weight: normal;
	line-height: 1.5;
	padding: var(--s1);
	border-left: var(--s1) solid var(--color-chrome);
	background-color: white;
	margin-bottom: var(--s2);
}

pre,
code {
	white-space: pre-wrap;
	word-wrap: break-word;
	tab-size: 2;
}

code {
	font-family: var(--font-body);

	background-color: var(--color-chrome);
}
pre > code {
	background-color: transparent;
}

article,
section,
p {
	/* padding-top: var(--s1); */
	/* padding-bottom: var(--s2); */
	margin-bottom: var(--s2);
}

header {
	/*background-color: var(--color-chrome);*/
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid black;
	box-shadow: var(--box-shadow);
	padding-left: var(--s2);
	padding-right: var(--s2);
}

nav.default-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	ul {
		margin-top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		li {
			list-style: none;
			background-color: var(--color-background);
			box-shadow: var(--box-shadow);
			padding: var(--s1) 1rlh;
			border-left: 3px solid black;
			border-bottom: 3px solid black;
			border-right: 3px solid black;
			a {
				color: var(--color-text);
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
		}
		li:hover {
			background-color: var(--color-chrome);
			/*box-shadow: var(--box-shadow-hover);*/
		}
	}
}
.default-nav .nav-toggle {
	display: none;
}

@media (max-width: 48rem) {
	header{
		display: block;
		h1{
			font-size: 1.5rem;
			text-align: left;
		}
	}
	nav.default-nav {
		padding-right: 0px;
		flex-direction: column;
		align-items: flex-end;
		gap: 0px;
		/*padding-inline: var(--s2);*/
		position: absolute;
		top: 0;
		right: 0;
		button{
			border-radius: 0px;
			border: none;
			background-color: var(--color-background);
		}
		button:hover {
			background-color: var(--color-chrome);
		}
		ul{
			position: absolute;
			top: var(--s8);
			right: var(--s2);

			display: flex;
			flex-direction: column;
			align-items: stretch;
			/*justify-content: flex-end;*/
			li{
				/*max-width: 10px;*/
				margin-top: -16px;
				border-left: none;
				/*width: 50%;*/
			}
		}
	}

	.default-nav .nav-toggle:not([hidden]) {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: var(--s6);
		min-height: var(--s6);
		cursor: pointer;
	}



	nav.default-nav[data-expanded="false"] ul {
		display: none;
	}
}

ul {
	padding-bottom: var(--s4);
}
li {
	list-style-type: square;
	padding-left: var(--s1);

	padding-bottom: var(--s0);
	p {
		margin: 0;
	}
}

footer {
	border-top: 3px solid black;
	display: flex;
	margin: 0 auto;
	padding-bottom: 1rlh;
	padding-left: var(--s2);
	padding-right: var(--s2);
	justify-content: center;
	p {
		max-width: 66ch;
	}
}
